In [ ]:
from google.colab import files
uploaded = files.upload()

Saving train (2).csv to train (2) (1).csv

In [54]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [135]:
df=pd.read_csv('train (2).csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [136]:
df=df.drop(columns=['PassengerId', 'Ticket', 'Cabin'])

In [137]:
df.shape

(891, 9)

In [138]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Name      891 non-null    object
 3   Sex       891 non-null    object
 4   Age       714 non-null    float64
 5   SibSp     891 non-null    int64
 6   Parch     891 non-null    int64
 7   Fare      891 non-null    float64
 8   Embarked  889 non-null    object
dtypes: float64(2), int64(4), object(3)
memory usage: 62.8+ KB

In [139]:
df.describe()

         Survived      Pclass         Age       SibSp       Parch        Fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [140]:
df['Survived'].value_counts()

Survived
0    549
1    342
Name: count, dtype: int64

In [141]:
df['Pclass'].value_counts()

Pclass
3    491
1    216
2    184
Name: count, dtype: int64

In [142]:
df['Sex'].value_counts()

Sex
male      577
female    314
Name: count, dtype: int64

In [143]:
df['Embarked'].value_counts()

Embarked
S    644
C    168
Q     77
Name: count, dtype: int64

In [144]:
df['Title'] = df['Name'].str.extract(' ([A-Za-z]+)\.', expand=False)

print(df['Title'].unique())

['Mr' 'Mrs' 'Miss' 'Master' 'Don' 'Rev' 'Dr' 'Mme' 'Ms' 'Major' 'Lady'
 'Sir' 'Mlle' 'Col' 'Capt' 'Countess' 'Jonkheer']

<>:1: SyntaxWarning: invalid escape sequence '\.'
<>:1: SyntaxWarning: invalid escape sequence '\.'
/tmp/ipython-input-1910387638.py:1: SyntaxWarning: invalid escape sequence '\.'
  df['Title'] = df['Name'].str.extract(' ([A-Za-z]+)\.', expand=False)

In [145]:
df['Age'] = df.groupby('Title')['Age'].transform(lambda x: x.fillna(x.median()))

In [146]:
print(df['Age'].isnull().sum())

0

In [147]:
# Male = 0, Female = 1
df['Sex'] = df['Sex'].map({'male': 0, 'female': 1})

In [148]:
df = pd.get_dummies(df, columns=['Embarked'])

In [149]:
df[['Embarked_C','Embarked_Q','Embarked_S']]=df[['Embarked_C','Embarked_Q','Embarked_S']].astype(int)

In [150]:
df.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Fare,Title,Embarked_C,Embarked_Q,Embarked_S
0,0,3,"Braund, Mr. Owen Harris",0,22.0,1,0,7.2500,Mr,0,0,1
1,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.0,1,0,71.2833,Mrs,1,0,0
2,1,3,"Heikkinen, Miss. Laina",1,26.0,0,0,7.9250,Miss,0,0,1
3,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.0,1,0,53.1000,Mrs,0,0,1
4,0,3,"Allen, Mr. William Henry",0,35.0,0,0,8.0500,Mr,0,0,1

In [151]:
df=df.drop(columns=['Name','Title'])

In [152]:
from sklearn.model_selection import train_test_split

X = df.drop('Survived', axis=1)
y = df['Survived']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [153]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

model = LogisticRegression(max_iter=1000)
model.fit(X_train, y_train)

y_pred = model.predict(X_test)
print("Accuracy:", accuracy_score(y_test, y_pred))

Accuracy: 0.8100558659217877

In [154]:
from google.colab import files
uploaded = files.upload()

Saving test.csv to test (1).csv

In [156]:
d_test=pd.read_csv('test.csv')

In [157]:
d_test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [158]:
d_test=d_test.drop(columns=['PassengerId', 'Ticket', 'Cabin'])


d_test['Title'] = d_test['Name'].str.extract(' ([A-Za-z]+)\.', expand=False)

print(d_test['Title'].unique())

['Mr' 'Mrs' 'Miss' 'Master' 'Ms' 'Col' 'Rev' 'Dr' 'Dona']

<>:4: SyntaxWarning: invalid escape sequence '\.'
<>:4: SyntaxWarning: invalid escape sequence '\.'
/tmp/ipython-input-1813885991.py:4: SyntaxWarning: invalid escape sequence '\.'
  d_test['Title'] = d_test['Name'].str.extract(' ([A-Za-z]+)\.', expand=False)

In [159]:
d_test['Age'] = d_test.groupby('Title')['Age'].transform(lambda x: x.fillna(x.median()))

In [160]:
print(d_test['Age'].isnull().sum())

1

In [161]:
d_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Pclass    418 non-null    int64
 1   Name      418 non-null    object
 2   Sex       418 non-null    object
 3   Age       417 non-null    float64
 4   SibSp     418 non-null    int64
 5   Parch     418 non-null    int64
 6   Fare      417 non-null    float64
 7   Embarked  418 non-null    object
 8   Title     418 non-null    object
dtypes: float64(2), int64(3), object(4)
memory usage: 29.5+ KB

In [162]:
d_test['Age'] = df['Age'].fillna(d_test['Age'].median())
d_test['Fare'] = df['Fare'].fillna(d_test['Fare'].median())

In [163]:
# Male = 0, Female = 1
d_test['Sex'] = d_test['Sex'].map({'male': 0, 'female': 1})


d_test = pd.get_dummies(d_test, columns=['Embarked'])

In [164]:
d_test[['Embarked_C','Embarked_Q','Embarked_S']]=d_test[['Embarked_C','Embarked_Q','Embarked_S']].astype(int)

In [165]:
d_test.head()

,Pclass,Name,Sex,Age,SibSp,Parch,Fare,Title,Embarked_C,Embarked_Q,Embarked_S
0,3,"Kelly, Mr. James",0,22.0,0,0,7.2500,Mr,0,1,0
1,3,"Wilkes, Mrs. James (Ellen Needs)",1,38.0,1,0,71.2833,Mrs,0,0,1
2,2,"Myles, Mr. Thomas Francis",0,26.0,0,0,7.9250,Mr,0,1,0
3,3,"Wirz, Mr. Albert",0,35.0,0,0,53.1000,Mr,0,0,1
4,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",1,35.0,1,1,8.0500,Mrs,0,0,1

In [166]:
d_test=d_test.drop(columns=['Name','Title'])

In [167]:
d_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Pclass      418 non-null    int64
 1   Sex         418 non-null    int64
 2   Age         418 non-null    float64
 3   SibSp       418 non-null    int64
 4   Parch       418 non-null    int64
 5   Fare        418 non-null    float64
 6   Embarked_C  418 non-null    int64
 7   Embarked_Q  418 non-null    int64
 8   Embarked_S  418 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 29.5 KB

In [168]:
d_test.describe()

,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked_C,Embarked_Q,Embarked_S
count,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000
mean,2.265550,0.363636,28.409689,0.447368,0.392344,32.521560,0.244019,0.110048,0.645933
std,0.841838,0.481622,13.008771,0.896760,0.981429,49.328086,0.430019,0.313324,0.478803
min,1.000000,0.000000,0.830000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,0.000000,21.000000,0.000000,0.000000,7.925000,0.000000,0.000000,0.000000
50%,3.000000,0.000000,29.000000,0.000000,0.000000,14.454200,0.000000,0.000000,1.000000
75%,3.000000,1.000000,35.000000,1.000000,0.000000,30.923950,0.000000,0.000000,1.000000
max,3.000000,1.000000,71.000000,8.000000,9.000000,512.329200,1.000000,1.000000,1.000000

In [169]:
d_test = d_test.reindex(columns=X.columns, fill_value=0)

In [170]:
test_predictions = model.predict(d_test)

In [171]:
submission = pd.DataFrame({
    'PassengerId': pd.read_csv('test.csv')['PassengerId'],
    'Survived': test_predictions
})

In [172]:
submission.to_csv('submission.csv', index=False)